body {
    margin: 0;
}
.container {
    text-align: center;
}
.paper {
    width: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
.raisedButton-submit {
    margin-top: 30px;
}
.auth-bottom-text {
    margin: 20px;
    font-size: 12px;
}
.auth-sign-link {
    margin-left: 4px;
    text-decoration: none;
    color: #2196F3;
}
.card {
    width: 700px;
    text-align: left;
    display: inline-block;
}